# Configuración de npm
engine-strict=true
legacy-peer-deps=true
prefer-offline=true
strict-ssl=false
registry=https://registry.npmjs.org/

# Configuración de caché
cache-min=9999999
prefer-offline=true

# Configuración de red
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
