# Configuración básica de npm
registry=https://registry.npmjs.org/
strict-ssl=false

# Configuración de red y caché
prefer-offline=false
fetch-retries=5
fetch-timeout=300000
prefer-online=true

# Configuración de paquetes
legacy-peer-deps=true
package-lock=true
engine-strict=true

# Configuración de seguridad
audit=false
fund=false
update-notifier=false

# Configuración de rendimiento
prefer-dedupe=true
